
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log
/.idea
/.vscode
*.log
.DS_Store
Thumbs.db
/storage/app/face_recognition/__pycache__
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
composer.lock
package-lock.json
yarn.lock
.replit
replit.nix
